body {
	min-width: 360px;
	background-color: #f6f6f6;
}

a {
	color: #00C1C9;
	text-decoration: none;
}

.icon {
	padding: 16px 0 16px 0;
}

section {
	padding: 4px;
}

input.form-control:focus {
	border-color: #00c1c9;
}

button.btn-default {
	background-color: #00c1c9;
	border-color: #00c1c9;
	color: #fff;
	margin-top: 6px;
}
button.btn-default:hover, button.btn-default:focus {
	background-color: #009096;
	border-color: #00868c;
	color: #fff;
}
button.btn-default[disabled] {
	background-color: #009096 !important;
	border-color: #00868c !important;
	color: #fff !important;
}

#navigation button {
	border-radius: 0;
	padding: 0;
	background-color: transparent;
	outline: none !important;
}
#navigation button:hover {
	background-color: rgba(38,42,53,0.1);
}
#navigation button.selected {
	border-bottom: 3px solid #FF005C;
}

article.post {
	border-left: 3px solid #00C1C9;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
}
article.post .meta {
	background-color: #ebebf2;
	border-radius: 4px;
	padding: 5px;
}
article.post .meta img {
	max-width: 128px;
	float: left;
}
article.post .meta .title {
	padding-left: 134px;
}

/****** LOADING ******/
.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	margin: 6px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #00c1c9;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}