nav.navigation {
    background: #262A35;
    padding: 0 10px;
    border-bottom: 1px solid #333A46;
}

nav.navigation > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 7px;
    border-bottom: 3px solid transparent;
}

nav.navigation > a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav.navigation > a.active {
    border-bottom: 3px solid #00C1C9;
    font-weight: bold;
}
