.post {
    padding: 10px;
    overflow: hidden;
}

.post > textarea {
    height: 52px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    background: #242832;
    border: 1px solid #333A46;
    padding: 7px 44px 7px 10px;
    color: #919baf;
}
.post > textarea:focus {
    outline: none;
}
.post > textarea[disabled] {
    opacity: 0.5;
}

.post > .spinner {
    float: left;
}

.post > button {
    margin-top: 10px;
    background: #60869F;
    border: 1px solid #60869F;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    line-height: 1.42857;
    padding: 5px 12px;
    float: right;
    cursor: pointer;
}
.post > button:hover {
    background: #448BBA;
    border-color: #448BBA;
}
.post > button:active {
    color: #d7e1e7;
    background: #1F5578;
    border-color: #1F5578;
}
.post > button:focus {
    outline: none;
}
.post > button[disabled] {
    background: #60869F;
    border-color: #60869F;
    opacity: 0.5;
    cursor: not-allowed;
}
